body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 90vh;
    width: 100%;
}

#remaining-distance {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.3);
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

#endTrip {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    position: fixed; /* Keep it at the bottom regardless of scrolling */
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

#endTrip:hover {
    background-color: darkred;
}