<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Booking</title>
    <link rel="stylesheet" type="text/css" href="static/css/booking.css">
</head>
<body>
    <header>
        <h1>Available Carpools</h1>
    </header>
    <div class="title">dryft</div>
    <main>
        <section class="driver-list">
        </section>
    </main>
    <script src="static/js/booking.js"></script>
</section>
<button id="finish-bidding" class="finish-bidding">Finish Bidding</button>

</body>
</html>