<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driving License Upload</title>
    <link rel="stylesheet" href="../static/css/driver-auth.css">
</head>
<body>
    <div class="upload-container">
        <h2>Upload your Driving License</h2>
        <input type="file" id="licenseUpload" accept="image/*">
        <button id="submitBtn">Submit</button>
    </div>
    <script src="../js/scripts/driver-auth.js"></script>
</body>
</html>
