<!DOCTYPE html>
<html>
<head>
    <title>Carpool App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <style>
        #map {
            height: 100%%;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Select Your Ride</h1>
    <div class="title">dryft</div>
    <div id="map"></div>
    <div id="distance-price-info"></div>
    <script>
        function initMap() {
            var champaign = {lat: 40.1164, lng: -88.2434}; // Coordinates for Champaign, Illinois
            var map = new google.maps.Map(document.getElementById('map'), {
                center: champaign,
                zoom: 10
            var inputStart = document.createElement('input');
            var inputEnd = document.createElement('input');

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputStart);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputEnd);

            var autocompleteStart = new google.maps.places.Autocomplete(inputStart);
            var autocompleteEnd = new google.maps.places.Autocomplete(inputEnd);

            autocompleteStart.bindTo('bounds', map);
            autocompleteEnd.bindTo('bounds', map);

            var markerStart = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });
            var markerEnd = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocompleteStart.addListener('place_changed', function() {
                markerStart.setVisible(false);
                var place = autocompleteStart.getPlace();
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                markerStart.setPosition(place.geometry.location);
                markerStart.setVisible(true);
            });

            autocompleteEnd.addListener('place_changed', function() {
                markerEnd.setVisible(false);
                var place = autocompleteEnd.getPlace();
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                markerEnd.setPosition(place.geometry.location);
                markerEnd.setVisible(true);
            });
        }
    </script>
    <script src="../static/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl_e3GMNEIO6PAaP-XLVRz-P_x8Z0c5kQ&libraries=places&callback=initMap"
            async defer></script>
</body>
</html>
