<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emma Williams' Profile</title>
    <link rel="stylesheet" href="static/css/profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <button id="backToMainButton" onclick="window.location.href='/main';">Back to Main</button>
    <div class="title">dryft</div>
    <div class="profile-container">
        <div class="profile-picture">
            <img src="static/images/defaultimage.jpeg" alt="Emma Williams">
        </div>
        <div class="profile-info">
            <h1 id="fullName">Emma Williams <button id="editButton"><i class="fas fa-pencil-alt"></i></button></h1>
            <p id="rating">Rating: 4.93 ★</p>
            <p id="carModel">Car Model: Tesla Model 3</p>
            <!-- Additional info can be added here -->
        </div>
    </div>
    <script src="../static/js/driver-auth.js"></script>
</body>
</html>
