<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div class="title">dryft</div>
    <title>Current Trip</title>
    <link rel="stylesheet" type="text/css" href="static/css/trip.css">
</head>
<body>
    <div id="map"></div>
    <div id="remaining-distance">Remaining Distance: Calculating...</div>
    <button id="endTrip">End Trip</button>
    <script src="static/js/trip.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl_e3GMNEIO6PAaP-XLVRz-P_x8Z0c5kQ&libraries=places&callback=initMap"
            async defer></script>
</body>
</html>
